<div class="content-section">
  <h3>Sidebar</h3>
  <p class='text-muted'>Navigate your account below

    <ul class="list-group">

      <li class="list-group-item list-group-item-light">
        <a href="{{ url_for('users.account1') }}"> Account Link 1 </a>
      </li>
      <li class="list-group-item list-group-item-light">
        <a href="{{ url_for('users.account2') }}"> Account Link 2 </a>
      </li>
      <li class="list-group-item list-group-item-light">
        <a href="{{ url_for('users.account3') }}"> Account Link 3 </a>
      </li>

    </ul>

  </p>
</div>