{% extends "layout.html" %}

{% block navbar %}

{% include "navbar.html" %}

{% endblock navbar %}

{% block content %}

{% if result[0] %}

    <div id="winnerdiv">
      <h1 id="round"> Round: {{ result[1] }} </h1>
      <h2> {{ result[3] }}'s card: {{ result[5] }} </h2>
      <h2> {{ result[4] }}'s card: {{ result[6] }} </h2>
      <h2> Round winner: {{ result[2] }}! </h2>
      <br>

      <a href="{{ url_for('game.play', start=False) }}" class="button"> Next Round! </a>
      <br>
    </div>

{% else %}

    <div id="gamewinnerdiv">
        <h1 id="gamewinner"> Game Winner: {{ result[1] }} </h1>
        <br>

        <h2> {{ result[2] }}'s rounds won: {{ result[4] }} </h2>
        <h2> {{ result[3] }}'s rounds won: {{ result[5] }} </h2>
        <br>

        <a href="{{ url_for('main.home') }}" class="button"> End Game! </a>
        <br>
    </div>

{% endif %}

{% endblock content %}

{% block sidebar %}

{% if result[0] %}

{% with player_1_score = result[7], player_2_score = result[8], player_1=result[3], player_2=result[4] %}
{% include "roundboard.html" %}
{% endwith %}

{% else %}

{% with player_1_score = result[4], player_2_score = result[5], player_1=result[4], player_2=result[5] %}
{% include "roundboard.html" %}
{% endwith %}

{% endif %}

{% endblock sidebar %}